@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFEFA
  --foreground: #6EA0BA
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 
    --foreground: 
  }
} */

body {
  background-color: var(--background);
}

.about{
  align-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
